

    <div ng-app="PlannerApp" ng-controller="PlannerCtrl" class="container-fluid">
        @*<div ng-style="text-align:center">*@

        

        <div>


            <div ng-show="ApiInfo.length>0" class="form-inline">
                <h5>Selected: <var><u style="overflow-wrap: break-word;">{{ApiInfo.length}}</u></var></h5>
                <div class="input-group">
                    @*<span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span></span>*@
                    <select title="App" class="form-control" multiselect="multiselect" data-ng-options="om.Server for om in envOptions" data-ng-model="apiEnv" ng-change="updateApiInfo()"></select>
                </div>

                <div class="input-group">
                    @*<span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span></span>*@
                    <select title="App" class="form-control" multiselect="multiselect" data-ng-options="o.UserName for o in authOptions" data-ng-model="apiAuth"></select>
                </div>
                <input type="submit" value="Get" ng-click="apiRequest()" class="btn btn-primary btn-sm">
            </div>
        </div>
        <div class="form-inline" ng-show="results.length>0">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <td>
                            EndPoint
                        </td>
                        <td>
                            Status
                        </td>
                        <td>
                            Result
                        </td>
                        <td>
                            Pass
                        </td>
                        <td>
                            Fail
                        </td>
                        <td>
                            Total
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="responseResult in results">
                        <td><h5 style="overflow-wrap: break-word;">{{responseResult.EndPoint}}</h5></td>
                        <td>
                            <span ng-if="responseResult.ResponseContent.StatusCode =='200'" class="label-success">{{responseResult.ResponseContent.StatusCode}} {{responseResult.ResponseContent.ResponsePhrase}}</span>
                            <span ng-if="responseResult.ResponseContent.StatusCode !='200'" class="label-warning">{{responseResult.ResponseContent.StatusCode}} {{responseResult.ResponseContent.ResponsePhrase}}</span>
                        </td>
                        <td>
                            <span ng-if="!responseResult.ValidationContent.PassStatus" class="label label-danger">Failed</span>
                            <span ng-if="responseResult.ValidationContent.PassStatus" class="label label-success">Success</span>                        
                        </td>
                        <td>{{responseResult.ValidationContent.PassCount}}</td>
                        <td>{{responseResult.ValidationContent.FailCount}}</td>
                        <td>{{responseResult.ValidationContent.FailCount+responseResult.ValidationContent.PassCount}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <img ng-show="reqestStatus" id="spinner" ng-src="http://www.nasa.gov/multimedia/videogallery/ajax-loader.gif" style="display:inline-block; text-align:center">

        </div>


