<p></p>
<div ng-controller="PlannerCtrl" class="container-fluid">
    

    <div>
        @RenderPage("~/Views/Planner/JavaScriptEditor.cshtml")
    </div>

    <div>
        @RenderPage("~/Views/Planner/DesignExecution.cshtml")
    </div>

    <div>
            @RenderPage("~/Views/Planner/RequestResponse.cshtml")
     </div>

    @*<div>
        @RenderPage("~/Views/Planner/DesignTestCase.cshtml")
    </div>*@
           

</div>


