    <div ng-controller="PlannerCtrl" class="container-fluid">
        @*<div ng-style="text-align:center">*@
        <div>
            <br />
            <div ng-show="ApiRequestList.length>0">
                <div class="form-inline">
                    <div class="input-group">
                        @*<span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span></span>*@
                        <select title="App" class="form-control" multiselect="multiselect" data-ng-options="om.AppServer for om in envOptions" data-ng-model="apiEnv"></select>
                    </div>
                    <div class="input-group">
                        @*<span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span></span>*@
                        <select title="App" class="form-control" multiselect="multiselect" data-ng-options="o.UserName for o in authOptions" data-ng-model="apiAuth"></select>
                    </div>

                    <a>EndPoint Selected<span class="badge">{{ApiRequestList.length}}</span></a>


                    <input ng-show="selectedTestCases.length>0 && !RequestResponseList.length>0" type="submit" value="Submit" ng-click="GetResponseRequest()" class="btn btn-primary btn-sm">
                    
                </div>

                <div ng-show="!RequestResponseList.length>0">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <td>
                                    <nobr>
                                        <input type="checkbox" ng-change="toggleAll()" ng-model="isAllSelected">
                                        <a href="" ng-click="TestCasesSortType = 'selected'; TestCasesSortReverse = !TestCasesSortReverse">
                                            <span ng-class="TestCasesSortType=='selected' && !TestCasesSortReverse?'glyphicon glyphicon-sort-by-attributes':
                                                                TestCasesSortType=='selected' && TestCasesSortReverse?'glyphicon glyphicon-sort-by-attributes-alt':
                                                                'glyphicon glyphicon-sort'">
                                            </span>
                                        </a>
                                    </nobr>
                                </td>
                                <td>
                                    <nobr>
                                        <a href="" ng-click="TestCasesSortType = 'Name'; TestCasesSortReverse = !TestCasesSortReverse">
                                            Test Cases
                                            <span ng-show="TestCasesSortType == 'Name' && !TestCasesSortReverse" class="glyphicon glyphicon-sort-by-attributes"></span>
                                            <span ng-show="TestCasesSortType == 'Name' && TestCasesSortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                                        </a>
                                    </nobr>
                                </td>
                            </tr>
                        </thead>

                        <tbody>
                            @*<tr ng-repeat="testCase in TestCases.List | orderBy:TestCasesSortType:TestCasesSortReverse">*@
                            <tr ng-repeat="testCase in TestCasesList | orderBy:TestCasesSortType:TestCasesSortReverse">
                                <td><input type="checkbox" ng-model="testCase.selected" ng-change="optionToggled()"></td>
                                <td>{{testCase.Name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div ng-show="RequestResponseList.length>0">
            <input type="submit" value="Clear Response" ng-click="ClearResponse()" class="btn btn-primary btn-sm">
                <input type="text" class="form-control" placeholder="Filter EndPoint..." ng-model="searchEndPoint">
                <div class="form-inline">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <td>
                                    <a href="" ng-click="sortType = 'EndPoint'; sortReverse = !sortReverse">
                                        EndPoint
                                        <span ng-show="sortType == 'EndPoint' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"></span>
                                        <span ng-show="sortType == 'EndPoint' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="" ng-click="sortType = 'PassCount/TotalCount'; sortReverse = !sortReverse">
                                        Result
                                        <span ng-show="sortType == 'PassCount/TotalCount == 0 ?1/TotalCount:PassCount/TotalCount' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"></span>
                                        <span ng-show="sortType == 'PassCount/TotalCount == 0 ?1/TotalCount:PassCount/TotalCount' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                                    </a>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="RequestResponse in RequestResponseList | filter:{EndPoint:searchEndPoint} | orderBy:sortType:sortReverse" @*ng-class="RequestResponse.ResponseInfo.StatusCode ==200 ?'success':'danger'"*@ ng-click="getApiInfo(RequestResponse)">
                                <td>{{RequestResponse.EndPoint}}</td>
                                <td>
                                    <button type="button" ng-class="RequestResponse.PassStatus?'btn btn-success btn-block':'btn btn-danger btn-block'" ng-click="getApiInfo(RequestResponse)">
                                        <span ng-class="RequestResponse.PassStatus?'glyphicon glyphicon-thumbs-up':'glyphicon glyphicon-thumbs-down'">&nbsp;</span>
                                        <span class="badge">
                                            {{RequestResponse.PassCount}}/{{RequestResponse.TotalCount}}
                                        </span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <img ng-show="reqestStatus" id="spinner" ng-src="http://www.nasa.gov/multimedia/videogallery/ajax-loader.gif" style="display:inline-block; text-align:center">

        </div>


