<div ng-controller="RequestResponseCtrl" class="container-fluid">
    <div ng-show="showCounter">sec:{{counter}}<img ng-show="resolved" id="spinner" ng-src="Content/images/491.gif" style="display:inline-block; text-align:center"></div>
    <div class="input-group-addon" ng-show="RequestResponseList.length>0">
        <div style=" padding-bottom:5px;">
            <div style="float:left;">
                <input type="text" class="form-control" placeholder="Filter EndPoint..." ng-model="searchEndPoint">
            </div>

            <div class="text-right">
                <input type="submit" value="Clear Result" ng-click="ClearResult()" class="btn btn-warning">
            </div>
        </div>

        <table class="table table-bordered table-hover" style="text-align:left">
            <thead>
                <tr>
                    <td>
                        <a href="" ng-click="sortType = 'EndPoint'; sortReverse = !sortReverse">
                            EndPoint
                            <span ng-show="sortType == 'EndPoint' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"></span>
                            <span ng-show="sortType == 'EndPoint' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                        </a>
                    </td>
                    <td>
                        <a href="" ng-click="sortType = 'PassCount/TotalCount == 0 ?1/TotalCount:PassCount/TotalCount'; sortReverse = !sortReverse">
                            Result
                            <span ng-show="sortType == 'PassCount/TotalCount == 0 ?1/TotalCount:PassCount/TotalCount' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"></span>
                            <span ng-show="sortType == 'PassCount/TotalCount == 0 ?1/TotalCount:PassCount/TotalCount' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                        </a>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="RequestResponse in RequestResponseList | filter:{EndPoint:searchEndPoint} | orderBy:sortType:sortReverse" ng-click="getApiInfo(RequestResponse)">
                    <td>{{RequestResponse.EndPoint}}</td>
                    <td>
                        <button type="button" ng-class="RequestResponse.PassStatus?'btn btn-success btn-block':'btn btn-danger btn-block'" ng-click="getApiInfo(RequestResponse)">
                            <span ng-class="RequestResponse.PassStatus?'glyphicon glyphicon-thumbs-up':'glyphicon glyphicon-thumbs-down'">&nbsp;</span>
                            <span class="badge">
                                {{RequestResponse.PassCount}}/{{RequestResponse.TotalCount}}
                            </span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
