<div ng-controller="BuilderCtrl" class="container-fluid">

    @*<div class="form-inline" ng-show="RequestResponse==null">
        @RenderPage("~/Views/Builder/DesignTestCase.cshtml")
     </div>*@        

        <div class="form-inline" ng-show="RequestResponse!=null">

            <div style="padding-top:10px;padding-bottom:10px;">
                <div style="float:left;">
                    <div class="input-group">
                        <a href="" ng-click="sortType = 'TestCaseResult.Status'; sortReverse = !sortReverse">
                            <span class="badge" ng-style="sortType=='TestCaseResult.Status' && !sortReverse?{'background-color': '#c9302c'}:
                                                                sortType=='TestCaseResult.Status' && sortReverse?{'background-color':'#449d44'}:
                                                                {'background-color':'#777'}">
                                <span ng-class="sortType=='TestCaseResult.Status' && !sortReverse?'glyphicon glyphicon glyphicon-thumbs-down':
                                                                sortType=='TestCaseResult.Status' && sortReverse?'glyphicon glyphicon-thumbs-up':
                                                                'glyphicon glyphicon-thumbs-up'">

                                </span>
                            </span>
                            <span class="glyphicon glyphicon-sort"></span>
                        </a>

                        &nbsp;&nbsp;

                        <a href="" ng-click="sortType = 'TestCaseName'; sortReverse = !sortReverse">
                            Test Cases
                            <span ng-class="sortType=='TestCaseName' && !sortReverse?'glyphicon glyphicon-sort-by-attributes':
                                                                sortType=='TestCaseName' && sortReverse?'glyphicon glyphicon-sort-by-attributes-alt':
                                                                'glyphicon glyphicon-sort'">
                            </span>
                        </a>
                    </div>
                </div>


                <div style="float:right;">
                    &nbsp;
                    <label class="switch" style="margin-bottom:-3px;margin-top:1px;">
                        <input type="checkbox" ng-model="oneAtATime" checked>
                        <span class="slider round"></span>
                    </label>
                </div>

                <div class="text-right">
                    <a>{{RequestResponse.EndPoint}}
                        <span class="badge" ng-style="RequestResponse.PassStatus?{'background-color': '#449d44'}:{'background-color':'#c9302c'}">
                            {{RequestResponse.PassCount}}/{{RequestResponse.TotalCount}}
                        </span>
                    </a>
</div>
            </div>

                <uib-accordion close-others="oneAtATime" open-all="true">
                    <div uib-accordion-group class="panel-default" ng-repeat="item in RequestResponse.TestCasesList | orderBy:sortType:sortReverse">
                        <uib-accordion-heading>
                            <div ng-click="collapse(item.key)">
                                <span class="badge" ng-style="item.TestCaseResult.Status?{'background-color': '#449d44'}:{'background-color':'#c9302c'}">
                                    <span ng-class="item.TestCaseResult.Status?'glyphicon glyphicon-thumbs-up':'glyphicon glyphicon-thumbs-down'"></span>
                                </span>
                                {{item.TestCaseName}}
                                <i class="pull-right glyphicon" ng-class="item.isOpen?'glyphicon-chevron-down':'glyphicon-chevron-right'"></i>
                            </div>
                        </uib-accordion-heading>
                            <uib-tabset>
                                <uib-tab heading="Test Case Condition">
                                    
                                    <pre>{{item.TestCaseCondition| json}}</pre>

                                </uib-tab>

                                <uib-tab heading="Test Case Result">
                                    <ol style="padding-top:10px;">
                                        <li ng-repeat="(Name, Value)  in item.TestCaseResult" ng-if="Name!='Status' && Name!='isOpen' && Name!='Response'">
                                            <div ui-tree-handle>
                                                {{Name}}:&nbsp;{{Value}}
                                            </div>
                                        </li>
                                    </ol>

                                </uib-tab>

                                <uib-tab heading="Response Content">

                                    <pre>{{item.TestCaseResult.Response| json}}</pre>
                                </uib-tab>

                            </uib-tabset>
                    </div>
                </uib-accordion>
                @*<pre>{{RequestResponse.TestCasesList| json}}</pre>*@
            </div>

        @*@RenderPage("~/Views/Builder/ResponseQuery.cshtml")*@
        @*@RenderPage("~/Views/Builder/DatabaseQuery.cshtml")*@
    </div>

