<div ng-controller="BuilderCtrl" class="container-fluid">
    <div class="form-inline" ng-show="ApiResponseInfo!=null">            
        <h5><var><a target="_blank" style="overflow-wrap: break-word;" href={{ApiResponseInfo.Url}}>{{ApiResponseInfo.Url}}</a></var></h5>    
        <div class="text-right">
                <a ng-if="ApiResponseInfo.ResponseContent.StatusCode =='200'">Total Count <span class="badge">{{ApiResponseInfo.TotalCount}}</span></a>
                <span ng-if="ApiResponseInfo.ResponseContent.StatusCode =='200'" class="label label-success">Status: {{ApiResponseInfo.ResponseContent.StatusCode}} {{ApiResponseInfo.ResponseContent.ResponsePhrase}}</span>
                <span ng-if="ApiResponseInfo.ResponseContent.StatusCode !='200'" class="label label-danger">Status: {{ApiResponseInfo.ResponseContent.StatusCode}} {{ApiResponseInfo.ResponseContent.ResponsePhrase}}</span>
            </div>
            <tabset>
                <tab heading="Body">
                    <pre ng-if="ApiResponseInfo.ResponseContent.IsResponseArray">{{ApiResponseInfo.ResponseContent.ResponseArray| json}}</pre>
                    <pre ng-if="!ApiResponseInfo.ResponseContent.IsResponseArray && ApiResponseInfo.ResponseContent.ResponseObject!=null">{{ApiResponseInfo.ResponseContent.ResponseObject| json}}</pre>
                    <pre ng-if="!ApiResponseInfo.ResponseContent.IsResponseArray && ApiResponseInfo.ResponseContent.ResponseObject==null">{{ApiResponseInfo.ResponseContent.Description}}</pre>
                </tab>
                <tab heading="Headers">
                    <div ng-repeat="header in ApiResponseInfo.ResponseContent.ResponseHeaders">
                        <h5>
                            {{header.Key}}:-
                            <span style="font-size:small; overflow-wrap: break-word;" ng-repeat="value in header.Value">{{value}}</span>
                        </h5>
                    </div>
                </tab>
                <tab heading="Schema">
                    <span ng-if="ApiResponseInfo.SchemaValid=='False'" class="label label-danger">Schema Validation: Fail</span>
                    <span ng-if="ApiResponseInfo.SchemaValid=='True'" class="label label-success">Schema Validation: Success</span>
                    <pre ng-if="ApiResponseInfo.SchemaErrors!=''">Schema Errors:{{ApiResponseInfo.SchemaErrors| json}}</pre>
                    <h5>Schema Url: <var><a target="_blank" style="overflow-wrap: break-word;" href={{ApiResponseInfo.SchemaUrl}}>{{ApiResponseInfo.SchemaUrl}}</a></var></h5>
                    <pre>Schema validated against:{{ApiResponseInfo.SchemaValidatedJson| json}}</pre>
                    <pre>Schema:{{ApiResponseInfo.Schema}}</pre>
                </tab>
                <tab heading="Validate">
                    <span ng-if="ApiResponseInfo.ValidationContent.ListHeaderMessageValid=='False'" class="label label-danger">ListHeaderMessage: Expected:{{ApiResponseInfo.ValidationContent.ExpectedListHeaderMessage}} Actual:{{ApiResponseInfo.ValidationContent.ListHeaderMessage}}</span>
                    <span ng-if="ApiResponseInfo.ValidationContent.ListHeaderMessageValid=='True'" class="label label-success">ListHeaderMessage: Expected:{{ApiResponseInfo.ValidationContent.ExpectedListHeaderMessage}} Actual:{{ApiResponseInfo.ValidationContent.ListHeaderMessage}}</span>

                    <pre>{{ApiResponseInfo.ValidationContent| json}}</pre>
                </tab>
                @*<tab heading="Json">
                    @RenderPage("~/Views/Builder/ResponseQuery.cshtml")
                </tab>*@
            </tabset>
        </div>
    @RenderPage("~/Views/Builder/DatabaseQuery.cshtml")
</div>

