
<body ng-app="QueryApp" ng-controller="AppCtrl" ng-keydown="keyDown($event)" ng-keyup="keyUp($event)">
    <div style="width: 100%; height: 1000px;">
        <!--<div class="button-overlay">-->
            <!--<button ng-click="addNewInputConnector()" ng-disabled="modelservice.nodes.getSelectedNodes().length == 0"-->
            <!--title="Add a new input connector to the selected node">-->
            <!--Add Input-->
            <!--</button>-->
            <!--<button ng-click="addNewOutputConnector()" ng-disabled="modelservice.nodes.getSelectedNodes().length == 0"-->
            <!--title="Add a new output connector to the selected node">-->
            <!--Add Output-->
            <!--</button>-->
       <!--</div>-->
        
        <button class="btn btn-primary btn-sm" ng-click="addNewNode()" title="Add a new Table to the chart">Add Table</button>
        @*<button class="btn btn-primary btn-sm" ng-click="deleteSelected()"
                ng-disabled="modelservice.nodes.getSelectedNodes().length == 0 && modelservice.edges.getSelectedEdges().length == 0"
                title="Delete selected nodes and connections">
            Delete Selected
        </button>
        <button class="btn btn-primary btn-sm" ng-click="activateWorkflow()">Activate Workflow</button>*@
        <pre>{{model|json}}</pre>
        <fc-canvas model="model" selected-objects="flowchartselected" edge-style="curved" callbacks="callbacks"
                   automatic-resize="true">            
        </fc-canvas>

    </div>

</body>

