<div ng-app="NestedLists" ng-controller="NestedListsController" class="nestedDemo">

    <div class="nestedDemo row">

        <script type="text/ng-template" id="list.html">
            <ul dnd-list="list">
                <li ng-repeat="(indx,node) in list"
                    dnd-draggable="node"
                    dnd-effect-allowed="move"
                    dnd-moved="list.splice($index, 1)"
                    dnd-selected="models.selected = node"
                    ng-class="{selected: models.selected === node}"
                    ng-include="'container.html'">
                </li>
            </ul>
        </script>

        <script type="text/ng-template" id="container.html">
            <div class="container-element box box-blue">
                <h3>{{indx}}</h3>
                <div>no of Obects: {{objectValue(node)}}</div>
                <div ng-repeat="(key,value) in node" ng-init="innerIndex = $index">                    
                    <div>{{key}}:{{value}}</div> 
                 </div>
                <div class="clearfix"></div>
            </div>
        </script>

        <!-- Main area with dropzones and source code -->
        <div class="col-md-10">
            <div class="row">
                <div ng-repeat="(zone, list) in ApiResponseInfoObject" class="col-md-6">
                    <div class="dropzone box box-yellow">
                        <h3>{{zone}}</h3>
                        <collection list="list"></collection>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

