
<body ng-controller="SqlEditorCtrl as vm" ng-keydown="keyDown($event)" ng-keyup="keyUp($event)">
    <script type="text/ng-template" id="myModal.html">
        <div class="modal-header">
            <h2 class="modal-title">Choose a table to {{items.queryType}}</h2>
            <h2 class="modal-title">{{data}}</h2>

        </div>
        <div class="modal-body">
            <div>
                <!--We can implement forms and anything we want here-->
                <form class="form-horizontal">
                    <div class="radio" ng-repeat="table in items.tables" id="radio-{{table.id}}">
                        <label class="form">
                            <input type="radio" name="table" ng-checked="table.checked" ng-change="handleTableClick(table)" ng-model="selectedValue.name" value="{{table.name}}">{{table.name}}
                        </label>
                    </div>
                    <button class="btn btn-default" type="button" ng-click="cancel()">cancel</button>
                    <input type="button" class="btn btn-success" ng-click="ok()" value="Submit" />
                </form>
            </div>
        </div>
        <div class="modal-footer">
            An {{items.queryType}} Query affects only a single table
        </div>
    </script>

    <div ng-show="ShowSqlEditor==true">

        <!--<div class="button-overlay">-->
        <!--<button ng-click="addNewInputConnector()" ng-disabled="modelservice.nodes.getSelectedNodes().length == 0"-->
        <!--title="Add a new input connector to the selected node">-->
        <!--Add Input-->
        <!--</button>-->
        <!--<button ng-click="addNewOutputConnector()" ng-disabled="modelservice.nodes.getSelectedNodes().length == 0"-->
        <!--title="Add a new output connector to the selected node">-->
        <!--Add Output-->
        <!--</button>-->
        <!--</div>-->
        <div class="input-group">
            <div class="input-group-addon" style="padding:0px;padding-left:1px;padding-right:1px; width:160px;">
                <div class="input-group">
                    <select class="form-control" ng-model="vm.selectedTable" style="border-radius:0px;">
                        <option>Table/View</option>
                        <option>DeriveTable</option>
                    </select>
                    <span class="input-group-addon btn btn-primary" style="background-color:#337ab7;border-radius:0px;" ng-click="addTable()"><span class="glyphicon glyphicon-plus" style="color:#fff"></span></span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon" style="border-radius:0px;">Type</span>
                    <select style="border-radius:0px;" class="form-control" ng-model="vm.selectedQueryType" ng-change="queryTypeChange('{{vm.selectedQueryType}}')">
                        <option>SELECT</option>
                        <option>INSERT</option>
                        <option>UPDATE</option>
                        <option>DELETE</option>
                    </select>
                </div>
                <button class="btn btn-primary btn-block" style="border-radius:0px;" ng-click="groupByChange()">{{vm.groupBy}}</button>
            </div>
            <textarea class="form-control custom-control" rows="5" style="resize:none; padding:0px; font-family:Consolas">{{Query}}</textarea>
            <span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-play" style="color:#4caf50"></span></span>
        </div>
        <table class="table table-bordered">
            <tr>
                <th>Table</th>
                <th>Column</th>
                <th>Alias</th>
                <th>Output</th>
                <th>SortType</th>
                <th>SortOrder</th>
                <th>Filter</th>
                <th>Or</th>
                <th>Or</th>
                <th>Or</th>
            </tr>
            <tr>
                <td style="padding:0px;">
                    <select style="width:100%;border:0px;" ng-model="vm.tableNameSelected" ng-change="tableNameChange(vm.tableNameSelected)" data-ng-options="o.name for o in model.nodes"></select>
                </td>



                <td style="padding:0px;">
                    <select style="width:100%;border:0px;" ng-model="vm.columnNameSelected" ng-change="columnNameChange(vm.columnNameSelected)" data-ng-options="o.name for o in tableColumns.connectors"></select>

                </td>


                <td style="padding:0px;"><input style="width:100%;border:0px;" /></td>

                <td style="padding:0px;">
                    <input type="checkbox" style="width:100%;border:0px;" ng-click="outPutClick()" ng-model="vm.outPut">
                </td>

                <td style="padding:0px;">
                    <select style="width:100%;border:0px;" ng-model="vm.sortType" ng-change="sortTypeChange()">
                        <option>Asc</option>
                        <option>Dsc</option>
                        <option></option>
                    </select>
                </td>

                <td style="padding:0px;">
                    <select style="width:100%;border:0px;" ng-model="vm.sortOrder" ng-change="sortOrderChange()">
                        <option></option>
                    </select>
                </td>
                <td style="padding:0px;"><input style="width:100%;border:0px;" /></td>
                <td style="padding:0px;"><input style="width:100%;border:0px;" /></td>
                <td style="padding:0px;"><input style="width:100%;border:0px;" /></td>
                <td style="padding:0px;"><input style="width:100%;border:0px;" /></td>
            </tr>
        </table>

        @*<button class="btn btn-primary btn-sm" ng-click="deleteSelected()"
                    ng-disabled="modelservice.nodes.getSelectedNodes().length == 0 && modelservice.edges.getSelectedEdges().length == 0"
                    title="Delete selected nodes and connections">
                Delete Selected
            </button>
            <button class="btn btn-primary btn-sm" ng-click="activateWorkflow()">Activate Workflow</button>*@

        <div style="width: 100%; height: 1000px;">
            <fc-canvas model="model" selected-objects="flowchartselected" edge-style="curved" callbacks="callbacks"
                       automatic-resize="true">
            </fc-canvas>


        </div>
    </div>
    </body>

