@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Lead QA Analyst,<br />
    SG32 Enterprise Solutions<br />
    <abbr title="Location">Office:</abbr>
    India - Bangalore
</address>

<address>
    <strong>Support:</strong>   <a href="Rekha.Parmesh@ellucian.com">Rekha.Parmesh@ellucian.com</a><br />
</address>