<div class="block bg-primary-d inverse-all">
    <div class="container container-main align-center auto-invert pady-100 pady-60-xs">
        <h1 contenteditable="false" class="case-u font-reg-l fs-400 fs-300-xs fg-text-d lts-sm">A powerful<br />pattern-based way<br />to build dynamic test scenarios</h1>
        <p contenteditable="false" class="case-u font-cond lts-xl fg-text">Tech-BOT <br/>enables you to test API in different dimensions</p>
        <a href="/ApiTest" class="btn btn-info btn-lg">API Test <span class="glyphicon glyphicon-log-in"></span></a>   
        </div>
    </div>

    
    <div class="container body-content">
        <div class="row">
            <div class="col-md-4" style="box-sizing: border-box;">
                <h2>Routine</h2>
                <p>Test scenarios can be saved and executed in a routine with different Environments and Authorizations.</p>
            </div>
            <div class="col-md-4" style="box-sizing: border-box;">
                <h2>Planner</h2>
                <p>Aids with information for planning and guides efficiently to structure logical sequence for a test scenario.</p>
            </div>
            <div class="col-md-4" style="box-sizing: border-box;">
                <h2>Builder</h2>
                <p>Provides a building block upon the planned test structure to create the desired scenario and result.</p>
            </div>
        </div>
    </div>
</div>


